.group{
    font-size: .8rem;
    color: #1A74FA;
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
    & p{
        & button{
            color: #1A74FA;
            background: transparent;
            border: 0;
        }
    }
}
.nestedFilter{
    display: flex;
    gap: 5px;
    font-size: .7rem;
    & div{
        display: flex;
        align-items: end;
        gap: 3px;
        padding: 0 5px;
        /* border-right: 1px solid #ccc; */
        border-left: 1px solid #ccc;
        &:hover{
            background-color: #eee;
            cursor: pointer;
        }
    }
}